<div class="container">

  <span *ngIf="initiated"> Select stream
    <select name="collectionSelect"   [(ngModel)]="selectedColl" (ngModelChange)="onChange($event)">
      <option *ngFor="let coll of collections" [ngValue]="coll">{{coll}}</option>
    </select>
  </span>

  <!-- https://angular-maps.com/ -->
  <div class="info">
    <div class="stream-info" *ngIf="initiated">
      <h1 *ngIf="firstHeader" >{{streams[0].DeviceName}}</h1>
      <p *ngIf="firstHeader">
        {{streams[0].Description}}
      </p>
      <br>
      <b *ngIf="firstHeader">Stream added: UTC {{streams[0].createdAt | date:"HH:mm:ss Z dd/MM/yyyy"}}</b>
    </div>
    <div class="stream-info" *ngIf="initiated">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="charts" *ngIf="initiated">
    <canvas id="canvas"> {{ chart }} </canvas>
    <div class="navigation">
      <span *ngIf="zoomed" class="navbtn" id="panleft" (click)="panLeft()">left</span>
      <span class="navbtn" id="zoomout" (click)="zoomOut()">-</span>
      <span *ngIf="zoomed" class="navbtn" id="reset" (click)="resetZoom()">reset</span>
      <span class="navbtn" id="zoomin" (click)="zoomIn()">+</span>
      <span *ngIf="zoomed" class="navbtn" id="panright" (click)="panRight()">right</span>
    </div>
  </div>



  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    See detailed data
  </button>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>TimeStamp</th>
            <th class="thcent">Sensor</th>
            <th class="thcent">Value</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dev of streams;  let i = index">
            <td>{{i+1}}</td>

            <td>{{dev.createdAt | date:"HH:mm:ss Z dd/MM/yyyy"}}</td>
            <td>
              <li *ngFor="let sens of dev.Sensor">
                <ul>
                  {{sens.Name}}
                </ul>
              </li>
            </td>
            <td>
              <li *ngFor="let sens of dev.Sensor">
                <ul>
                   {{sens.Value}}
                </ul>
              </li>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>
